<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" backupGlobals="false"
	backupStaticAttributes="true" colors="true" convertErrorsToExceptions="true"
	convertNoticesToExceptions="true" convertWarningsToExceptions="true"
	processIsolation="false" stopOnFailure="false" syntaxCheck="true">

	<testsuites>
		<testsuite name="Php-Riak-client test suite">
			<directory>./</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html" target="../target/phpunit/coverage" 
		     title="Riak" charset="UTF-8" yui="true" highlight="true" 
		     lowUpperBound="35" highLowerBound="70" />
		<log type="coverage-xml" target="../target/phpunit/coverage.xml" />
		<log type="coverage-clover" target="../target/phpunit/clover.xml" />
		<log type="junit" target="../target/phpunit/junit.xml" 
		     logIncompleteSkipped="false" />
	</logging>
</phpunit>